.djs-container {
  --context-pad-background-color: white;
  --context-pad-color: var(--gray-80);
  --context-pad-divider-color: var(--gray-30);
  --context-pad-hover-color: var(--gray-10);
  --context-pad-active-color: #e8e8e8;
  --context-pad-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.30);

  --context-pad-entry-call-to-action-background-color: var(--blue-60);
  --context-pad-entry-call-to-action-hover-background-color: var(--blue-70);
  --context-pad-entry-call-to-action-color: white;
}

.djs-container .djs-context-pad {
  background: var(--context-pad-background-color);
  color: var(--context-pad-color);
  border-radius: 4px;
  transform: translate(-50%, -100%);
  padding: 5px;
  box-shadow: var(--context-pad-box-shadow)
}

.djs-container .djs-context-pad.open {
  display: flex;
  align-items: center;
}

.djs-container .djs-context-pad .group {
  display: flex;
}

.djs-container .djs-context-pad .group:not(:last-child):after {
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  background: var(--context-pad-divider-color);
  margin: auto 4px;
}

.djs-container .djs-context-pad .entry {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 4px;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6px;
}

.djs-context-pad .bio-properties-panel-tooltip-wrapper {
  text-decoration: none;
}

.djs-context-pad .bio-properties-panel-tooltip-content {
  font-size: 12px;
  padding: 9px 12px;
  border-radius: 4px;
  width: max-content;
}

.djs-container .djs-context-pad .entry:last-child {
  margin-right: 0;
}

.djs-container .djs-context-pad .entry:hover {
  background: var(--context-pad-hover-color);
}

.djs-container .djs-context-pad .entry.active {
  background: var(--context-pad-active-color);
}

.djs-container .djs-context-pad .separator {
  width: 1px;
  height: 18px;
  background: var(--context-pad-divider-color);
  margin: 0 4px;
}

/** Call to action context pad entry */
.djs-container .djs-context-pad.call-to-action {
  padding: 0 5px 0 0;

  & .group {
    padding: 5px 0;
  }

  & .group:first-child {
    padding: 0;
    border-radius: 4px 0 0 4px;
  }

  & .entry.call-to-action:not(.highlighted) {
    margin-left: 3px;
  }

  & .entry.call-to-action.highlighted {
    height: 46px;
    width: 43px;
    padding: 9.5px;
    border-radius: 4px 0 0 4px;
    background: var(--context-pad-entry-call-to-action-background-color);
    fill: white;
    margin-right: -4px;

    &:hover {
      background: var(--context-pad-entry-call-to-action-hover-background-color);
    }
  }
}
