.bio-improved-canvas {
  --context-pad-background-color: white;
  --context-pad-color: var(--gray-80);
  --context-pad-divider-color: var(--gray-20);
  --context-pad-hover-color: var(--gray-10);
  --context-pad-active-color: #e8e8e8;
  --context-pad-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.30);

  --context-pad-entry-call-to-action-background-color: var(--blue-60);
  --context-pad-entry-call-to-action-hover-background-color: var(--blue-70);
  --context-pad-entry-call-to-action-color: white;
  --context-pad-padding: 4px;
}

.bio-improved-canvas .djs-context-pad {
  background: var(--context-pad-background-color);
  color: var(--context-pad-color);
  border-radius: 4px;
  transform: translate(-50%, -100%);
  box-shadow: var(--context-pad-box-shadow);
}

.bio-improved-canvas .djs-context-pad.open {
  display: flex;
  align-items: center;
}

.bio-improved-canvas .djs-context-pad .group {
  display: flex;

  &:nth-child(1 of .group) {
    padding-left: var(--context-pad-padding);
  }

  &:nth-last-child(1 of .group) {
    padding-right: var(--context-pad-padding);
  }
}

.bio-improved-canvas .djs-context-pad .group:not(:last-child):after {
  display: block;
  content: "";
  width: 0.5px;
  height: 40px;
  background: var(--context-pad-divider-color);
  margin: auto var(--context-pad-padding);
}

.bio-improved-canvas .djs-context-pad .entry {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--context-pad-padding) 0 var(--context-pad-padding) 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6px;

  /* Safari icon fix */
  & > svg {
    height: 100%;
  }
}

.bio-improved-canvas .djs-context-pad .bio-properties-panel-tooltip-wrapper {
  text-decoration: none;
}

.bio-improved-canvas .djs-context-pad .bio-properties-panel-tooltip-content {
  font-size: 12px;
  padding: 9px 12px;
  border-radius: 4px;
  width: max-content;
}

.bio-improved-canvas .djs-context-pad .entry:last-child {
  margin-right: 0;
}

.bio-improved-canvas .djs-context-pad .entry:hover {
  background: var(--context-pad-hover-color);
}

.bio-improved-canvas .djs-context-pad .entry.active {
  background: var(--context-pad-active-color);
}

.bio-improved-canvas .djs-context-pad .separator {
  width: 1px;
  height: 18px;
  background: var(--context-pad-divider-color);
  margin: 0 var(--context-pad-padding);
}

/* Resource linking */
.bio-improved-canvas .djs-context-pad .entry.resource-linking-no-resource svg {
  fill: var(--blue-60);
}

/* Feedback */
.bio-improved-canvas .feedback-button {
  font-family: inherit;
  font-size: 12px;
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  color: var(--gray-60);
  white-space: nowrap;

  &:hover {
    color: var(--gray-80);
    text-decoration: underline;
  }
}