/* Canvas */
.bio-improved-canvas {
  --palette-background-color: white;
  --palette-separator-color: #e0e0e0;
  --palette-entry-color: #161616;
  --palette-border-color: #e0e0e0;

  --context-pad-entry-background-color: #f4f4f4;
}

.djs-container.bio-improved-canvas,
.dmn-drd-container.bio-improved-canvas {
  background-color: #f4f4f4;
}

.dmn-drd-container.bio-improved-canvas {
  --dmn-definitions-background-color: white;
  --dmn-definitions-border-color: #e0e0e0;
}

/* Grid */
.bio-improved-canvas defs pattern circle {
  fill: #a8a8a8 !important;
}
