:root {
  --grey-10: #f4f4f4;
  --grey-20: #e0e0e0;
  --grey-40: #a8a8a8;
  --grey-80: #393939;
  --gray-100: #161616;
}

/* Canvas */
.djs-container{
  --palette-background-color: white;
  --palette-separator-color: var(--grey-20);
  --palette-entry-color: var(--gray-100);
  --palette-border-color: var(--grey-20);
  
  --context-pad-entry-background-color: var(--grey-10);

  background-color: var(--grey-10);
}

/* Properties Panel */
.bio-properties-panel {
  --header-background-color: white;
}

/* Grid */
defs pattern circle {
  fill: hsl(0, 0%, 87%) !important;
  fill: var(--grey-40) !important;
}

/* TODO: add styles to web modeler properly if permanent feature */
/* Web Modeler */
header[data-test="action-bar"] {
  background-color: white;
  border-bottom: 1px solid var(--grey-20);
}

div[data-test="error-panel-title"] {
  background-color: white;
  border-top: 1px solid var(--grey-20);
}

button[data-test="details-panel-toggle"] {
  background-color: white;
  border-color: var(--grey-20);
}

div[data-test="modeler"] > div:not(.bjs-container) > div {
  background-color: white;
}

div[data-test="details-panel-wrapper"] {
  border: var(--grey-20);
}

div[data-test="details-panel-wrapper"] div[aria-label="Details panel tabs"] {
  background-color: white;
}