/* Canvas */
.djs-container{
  --palette-background-color: white;
  --palette-separator-color: var(--gray-20);
  --palette-entry-color: var(--gray-100);
  --palette-border-color: var(--gray-20);
  
  --context-pad-entry-background-color: var(--gray-10);
}

.dmn-drd-container,
.bjs-container {
  background-color: var(--gray-10);
}

.dmn-drd-container {
  --dmn-definitions-background-color: white;
  --dmn-definitions-border-color: var(--gray-20);
}

/* Properties Panel */

.bio-properties-panel-header {
  background-color: white;
}

/* Keep forms white */
.cfp-container .bio-properties-panel-header {
  background-color: var(--header-background-color);
}

.bio-properties-panel-placeholder {
  --placeholder-background-color: white;
}

/* Grid */
defs pattern circle {
  fill: hsl(0, 0%, 87%) !important;
  fill: var(--gray-40) !important;
}
