.djs-popup.color-picker,
.djs-popup.align-elements {
  background-color: var(--context-pad-background-color);
  border-radius: 4px;
  box-shadow: var(--context-pad-box-shadow);
  border: none;

  & .djs-popup-results {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0;
  }

  & .djs-popup-group {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  & .djs-popup-group:not(:last-child):after {
    display: block;
    content: "";
    width: 1px;
    height: 18px;
    background: var(--context-pad-divider-color);
    margin: auto 4px;
  }

  & .entry {
    margin-top: 0;
    padding: 6px;
  }

  & .entry:hover,
  & .entry.selected {
    background-color: var(--context-pad-hover-color);
    border-radius: 0;
  }

  & .djs-popup-entry-icon {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    fill: white;
  }
}
